@font-face {
  font-family: "iconfont";
  /* Project id 3656498 */
  src: url('//at.alicdn.com/t/c/font_3656498_2hogo2zu1iy.woff2?t=1667010892131') format('woff2'),
    url('//at.alicdn.com/t/c/font_3656498_2hogo2zu1iy.woff?t=1667010892131') format('woff'),
    url('//at.alicdn.com/t/c/font_3656498_2hogo2zu1iy.ttf?t=1667010892131') format('truetype'),
    url('//at.alicdn.com/t/c/font_3656498_2hogo2zu1iy.svg?t=1667010892131#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-text-align-center:before {
  content: "\e600";
}

.icon-vote:before {
  content: "\e601";
}

.icon-text-align-left:before {
  content: "\e602";
}

.icon-text-align-right:before {
  content: "\e603";
}

.icon-bg-color:before {
  content: "\e604";
}

.icon-riqi:before {
  content: "\100d9";
}

.icon-map:before {
  content: "\e715";
}

.icon-code:before {
  content: "\e87e";
}

.icon-vehicles:before {
  content: "\e882";
}

.icon-quanju_fankui:before {
  content: "\e606";
}

.icon-quanju_duanxintuisong:before {
  content: "\e607";
}

.icon-quanju_kongzhi:before {
  content: "\e608";
}

.icon-quanju_yuming:before {
  content: "\e609";
}

.icon-quanju_yunying:before {
  content: "\e60a";
}

.icon-yonghu_tudi:before {
  content: "\e60b";
}

.icon-dingbu_xiugaimima:before {
  content: "\e60c";
}

.icon-dingbu_shouye:before {
  content: "\e60d";
}

.icon-guanliyuan_guanliyuanrizhi:before {
  content: "\e60e";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-icon-taikong20:before {
  content: "\e642";
}

.icon-icon-taikong17:before {
  content: "\e643";
}

.icon-icon-taikong19:before {
  content: "\e645";
}

.icon-icon-taikong16:before {
  content: "\e646";
}

.icon-icon-taikong14:before {
  content: "\e647";
}

.icon-icon-taikong13:before {
  content: "\e649";
}

.icon-icon-taikong12:before {
  content: "\e64a";
}

.icon-icon-taikong9:before {
  content: "\e64b";
}

.icon-icon-taikong10:before {
  content: "\e64c";
}

.icon-icon-taikong8:before {
  content: "\e64d";
}

.icon-icon-taikong11:before {
  content: "\e64e";
}

.icon-icon-taikong7:before {
  content: "\e665";
}

.icon-icon-taikong6:before {
  content: "\e666";
}

.icon-icon-taikong4:before {
  content: "\e667";
}

.icon-icon-taikong15:before {
  content: "\e668";
}

.icon-icon-taikong1:before {
  content: "\e669";
}

.icon-icon-taikong3:before {
  content: "\e66a";
}

.icon-icon-taikong5:before {
  content: "\e66b";
}

.icon-icon-taikong2:before {
  content: "\e66c";
}

.icon-icon-taikong18:before {
  content: "\e66d";
}

.icon-icon_more:before {
  content: "\e61a";
}

.icon-qq:before {
  content: "\e65b";
}

.icon-github:before {
  content: "\e799";
}

.icon-rss:before {
  content: "\e808";
}

.icon-tv:before {
  content: "\e87d";
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-Abacus:before {
  content: "\e822";
}

.icon-ATM:before {
  content: "\e823";
}

.icon-Attorney:before {
  content: "\e824";
}

.icon-BC:before {
  content: "\e825";
}

.icon-AsymmetricKeys:before {
  content: "\e826";
}

.icon-Balance:before {
  content: "\e827";
}

.icon-Assets:before {
  content: "\e828";
}

.icon-AML:before {
  content: "\e829";
}

.icon-API:before {
  content: "\e82a";
}

.icon-Blockchain:before {
  content: "\e82b";
}

.icon-Bitcoin:before {
  content: "\e82c";
}

.icon-Billionaire:before {
  content: "\e82d";
}

.icon-Calculator:before {
  content: "\e82e";
}

.icon-BB:before {
  content: "\e82f";
}

.icon-Bills:before {
  content: "\e830";
}

.icon-BigData:before {
  content: "\e831";
}

.icon-Budgeting:before {
  content: "\e832";
}

.icon-Bank:before {
  content: "\e833";
}

.icon-Chargeback:before {
  content: "\e834";
}

.icon-Check:before {
  content: "\e835";
}

.icon-Cryptocurrency:before {
  content: "\e836";
}

.icon-CreditCard:before {
  content: "\e837";
}

.icon-Crowfunding:before {
  content: "\e838";
}

.icon-CDO:before {
  content: "\e839";
}

.icon-ChineseYuan:before {
  content: "\e83a";
}

.icon-DataMining:before {
  content: "\e83b";
}

.icon-BritishPound:before {
  content: "\e83c";
}

.icon-DigitalSignature:before {
  content: "\e83d";
}

.icon-Deposit:before {
  content: "\e83e";
}

.icon-CyberIdentity:before {
  content: "\e83f";
}

.icon-E-MailTransfer:before {
  content: "\e840";
}

.icon-EducationSavings:before {
  content: "\e841";
}

.icon-FundsTransfer:before {
  content: "\e842";
}

.icon-Exchange:before {
  content: "\e843";
}

.icon-EmergencyFund:before {
  content: "\e844";
}

.icon-Growth-:before {
  content: "\e845";
}

.icon-Gazelle:before {
  content: "\e846";
}

.icon-FraudDetection:before {
  content: "\e847";
}

.icon-Gold:before {
  content: "\e848";
}

.icon-Dollar:before {
  content: "\e849";
}

.icon-FintechIndustry:before {
  content: "\e84a";
}

.icon-HomeLoan:before {
  content: "\e84b";
}

.icon-KnowYourClient:before {
  content: "\e84c";
}

.icon-Growth-1:before {
  content: "\e84d";
}

.icon-ICO:before {
  content: "\e84e";
}

.icon-Euro:before {
  content: "\e84f";
}

.icon-Management:before {
  content: "\e850";
}

.icon-IdentityTheft:before {
  content: "\e851";
}

.icon-Income:before {
  content: "\e852";
}

.icon-Insurtech:before {
  content: "\e853";
}

.icon-MoneyBag:before {
  content: "\e854";
}

.icon-Insurance:before {
  content: "\e855";
}

.icon-InterestRates:before {
  content: "\e856";
}

.icon-Leasing:before {
  content: "\e857";
}

.icon-CVV:before {
  content: "\e858";
}

.icon-Handshake:before {
  content: "\e859";
}

.icon-MobileBanking:before {
  content: "\e85a";
}

.icon-PiggyBank:before {
  content: "\e85b";
}

.icon-InternetBanking:before {
  content: "\e85c";
}

.icon-Payment:before {
  content: "\e85d";
}

.icon-PersonalDataProtection:before {
  content: "\e85e";
}

.icon-Planning:before {
  content: "\e85f";
}

.icon-InternetofThings:before {
  content: "\e860";
}

.icon-Investment:before {
  content: "\e861";
}

.icon-Monitoring:before {
  content: "\e862";
}

.icon-Report:before {
  content: "\e863";
}

.icon-JapaneseYen:before {
  content: "\e864";
}

.icon-SAAS:before {
  content: "\e865";
}

.icon-Regtech:before {
  content: "\e866";
}

.icon-Secure:before {
  content: "\e867";
}

.icon-MoneyMaking:before {
  content: "\e868";
}

.icon-RetirementSavings:before {
  content: "\e869";
}

.icon-Revenue:before {
  content: "\e86a";
}

.icon-SafeBox:before {
  content: "\e86b";
}

.icon-Stocks:before {
  content: "\e86c";
}

.icon-Unicorn:before {
  content: "\e86d";
}

.icon-Statistics:before {
  content: "\e86e";
}

.icon-Savings:before {
  content: "\e86f";
}

.icon-Strategy:before {
  content: "\e870";
}

.icon-Profit:before {
  content: "\e871";
}

.icon-Value:before {
  content: "\e872";
}

.icon-Transfer:before {
  content: "\e873";
}

.icon-Success:before {
  content: "\e874";
}

.icon-Underbanked:before {
  content: "\e875";
}

.icon-Money:before {
  content: "\e876";
}

.icon-RoboAdvisor:before {
  content: "\e877";
}

.icon-PPLending:before {
  content: "\e878";
}

.icon-Wallet:before {
  content: "\e879";
}

.icon-Taxes:before {
  content: "\e87a";
}

.icon-Unbanked:before {
  content: "\e87b";
}

.icon-SharingEconomy:before {
  content: "\e87c";
}
