 /* Standard syntax */
 @keyframes shake {

   10%,
   90% {
     transform: translate3d(-1px, 0, 0);
   }

   20%,
   80% {
     transform: translate3d(2px, 0, 0);
   }

   30%,
   50%,
   70% {
     transform: translate3d(-4px, 0, 0);
   }

   40%,
   60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .apply-shake {
   animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
 }

 @keyframes immersiveTranslateShadowRolling {
   0% {
     box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
   }

   12% {
     box-shadow: 100px 0 var(--loading-color), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
   }

   25% {
     box-shadow: 110px 0 var(--loading-color), 100px 0 var(--loading-color), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
   }

   36% {
     box-shadow: 120px 0 var(--loading-color), 110px 0 var(--loading-color), 100px 0 var(--loading-color), 0px 0 rgba(255, 255, 255, 0);
   }

   50% {
     box-shadow: 130px 0 var(--loading-color), 120px 0 var(--loading-color), 110px 0 var(--loading-color), 100px 0 var(--loading-color);
   }

   62% {
     box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--loading-color), 120px 0 var(--loading-color), 110px 0 var(--loading-color);
   }

   75% {
     box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--loading-color), 120px 0 var(--loading-color);
   }

   87% {
     box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--loading-color);
   }

   100% {
     box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
   }
 }

 /* ----------------------------------------------
 * Generated by Animista on 2023-7-18 19:27:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-out-fwd-bl_lzy {
   0% {
     /* -webkit-transform: translateZ(0) translateY(0) translateX(0); */
     opacity: 0;
   }

   100% {
     /* -webkit-transform: translateZ(600px) translateY(300px) translateX(-400px); */
     opacity: 1;
   }
 }

 @keyframes translateYopacity {
   0% {
     /* -webkit-transform: translateZ(0) translateY(0) translateX(0); */
     opacity: 0;
     translate: 0 30px;
   }

   100% {
     /* -webkit-transform: translateZ(600px) translateY(300px) translateX(-400px); */
     opacity: 1;
     translate: 0 0px;
   }
 }


 @keyframes wiggle {

   0%,
   100% {
     transform: translateY(0) rotate(0);
   }

   25% {
     transform: translateY(-1px) rotate(-2deg);
   }

   50% {
     transform: translateY(0) rotate(2deg);
   }

   75% {
     transform: translateY(1px) rotate(-2deg);
   }
 }
