pre {
  position: relative;
}

.pre-numbering {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  border-right: 1px solid #C3CCD0;
  background-color: #1C1D21;
  text-align: center;
  padding: 0.5em 0;
}

.pre-numbering li {
  list-style: none;
  color: #AAA;
  font-size: 1em;
}

.hljs-ln-line.hljs-ln-n {
  margin-right: 30px;
}

.hljs-ln-numbers {
  user-select: none;
}

.hljs::-webkit-scrollbar-track {
  background-color: #21252b;
}

.hljs::-webkit-scrollbar {
  height: 15px;
  background-color: var(--themeColor);
}

.hljs::-webkit-scrollbar-thumb {
  background-color: var(--themeColor);
  border-radius: 300px;
  border: 4px solid #21252b;
}

.highlight-wrap {
  position: relative;
  background: #21252b;
  border-radius: 5px;
  line-height: 1.6;
  margin-bottom: 3.6em;
  max-width: 100%;
  overflow: auto;
  text-shadow: none;
  color: #000;
  padding-top: 30px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
  font-size: 17px;
}

.highlight-wrap:before {
  content: " ";
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--themeColor);
  width: 12px;
  height: 12px;
  left: 12px;
  margin-top: -18px;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}

.highlight-wrap .language-python {
  font-family: 'firaCode' !important;
}

.entry-content h3 {
  padding-bottom: 8px;
  border-bottom: 1px dashed #ddd;
  color: #737373;
  position: relative;
  padding-left: 20px;
  font-size: 21px;
  font-weight: 600;
}

.entry-content h3:after {
  content: "#";
  position: absolute;
  left: 0;
  color: #FF6D6D;
}

.entry-content h4 {
  color: #222;
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.entry-content h4:after {
  content: "~";
  position: absolute;
  left: 0;
  color: var(--themeColor);
}

.entry-content a {
  color: var(--themeColor);
  border-bottom: 1px solid var(--themeColor);
}

.entry-content table.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  margin: 0 0 1.5em;
  font-size: 15px;
}

.entry-content .table th {
  color: #fff;
}

.entry-content .table th,
.entry-content .table td {
  padding: 0 8px;
  text-align: left;
}

.entry-content .table th {
  background-color: #FE9600;
}

.entry-content .table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dark .entry-content .table tr:nth-child(even) {
  background-color: #000;
}

.dark .entry-content a {
  color: var(--textcolor);
  border-color: var(--textcolor);
}

.dark .entry-content {
  text-shadow: #21252b;
}

.dark .entry-content h3,
.dark .entry-content h4 {
  color: #fff;
}
