:root {
  --themeColor: #5161ce;
  --bgcolor: #fff !important;
  --darkBgcolor: #31363b;
  --darkColor: rgb(255, 255, 255, .8);
  --textcolor: #fe9600;
  --normalCup: url('../icon/Normal.png'), auto;
  --linkCup: url('../icon/Link.png'), auto;
  --verticalCup: url('../icon/Vertical.png'), auto;
  --broRadius: 9px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

.decoration {
  font-family: 'almama';
  color: #fff;
  cursor: var(--linkCup);
  text-shadow: 1px 3px 3px #000;
  transition: .6s;
  background: linear-gradient(#5161ce, #5161ce) no-repeat left 100%/0 1px;
}

.decoration:hover {
  color: #5161ce;
  fill: #5161ce !important;
  text-shadow: 1px -1px 3px #fff;
  background: linear-gradient(#5161ce, #5161ce) no-repeat left 100% / 100% 1px;
}

.lzy-center {
  width: 100%;
  text-align: center;
}

.fa-comment {
  width: 50px;
  height: 50px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.md.hydrated {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* 修改谷歌浏览器存储密码 自动给input添加样式 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  /* //这个地方的颜色是字体颜色，可以根据实际情况修改 */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  /* //设置input输入框的背景颜色为透明色 */
  background-color: transparent;
  /* //设置input输入框的背景颜色为透明色 */
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}

input {
  background-color: transparent;
  /* //设置input输入框的背景颜色为透明色 */
}

input:-webkit-autofill::selection {
  -webkit-text-fill-color: #fff !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(245, 245, 245);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: rgb(245, 245, 245);
}


::-webkit-scrollbar-thumb {
  background-color: var(--themeColor) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--themeColor);
  border-radius: 20px;
  border: 1px solid rgb(245, 245, 245);
  transition: 1s all;
}

.compensate-for-scrollbar {
  padding: 0 !important;
}

#app {
  cursor: var(--normalCup)
}

#app a {
  cursor: var(--linkCup)
}

#app input {
  cursor: var(--verticalCup)
}

html,
body {
  scroll-behavior: smooth;
}

html.dark {
  background-color: var(--darkBgcolor)
}

#nprogress .bar {
  background: rgb(255, 0, 119) !important;
}
