:root {
  --themeColor: #5161ce;
  --bgcolor: #fff !important;
  --darkBgcolor: #31363b;
  --darkColor: rgb(255, 255, 255, .8);
  --textcolor: #fe9600;
  --normalCup: url('../icon/Normal.png'), auto;
  --linkCup: url('../icon/Link.png'), auto;
  --verticalCup: url('../icon/Vertical.png'), auto;
  --broRadius: 9px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

.decoration {
  font-family: 'almama';
  color: #fff;
  cursor: var(--linkCup);
  text-shadow: 1px 3px 3px #000;
  transition: .6s;
  background: linear-gradient(#5161ce, #5161ce) no-repeat left 100%/0 1px;
}

.decoration:hover {
  color: #5161ce;
  fill: #5161ce !important;
  text-shadow: 1px -1px 3px #fff;
  background: linear-gradient(#5161ce, #5161ce) no-repeat left 100% / 100% 1px;
}

.lzy-center {
  width: 100%;
  text-align: center;
}

.fa-comment {
  width: 50px;
  height: 50px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


