:root {
  --themeColor: #5161ce;
  --themeColorRgb: 81, 97, 206;
  --bgcolor: #fff !important;
  --color: #000 !important;
  --darkBgcolor: rgb(24, 23, 29);
  --darkContentBgcolor: #1E1E1E;
  --darkColor: rgb(255, 255, 255, .8);
  --systemSelectColor: #344449;
  --textcolor: #fe9600;
  --borderColor: #ffe14d;
  --delColor: rgb(248, 68, 104);
  --linkCup: url('../icon/Link.png'), auto;
  --normalCup: url('../icon/Normal.png'), auto;
  --article-cover: linear-gradient(180deg, hsla(0, 0%, 98%, 0) 0, hsla(0, 0%, 98%, .013) 8.1%, hsla(0, 0%, 98%, .049) 15.5%, hsla(0, 0%, 98%, .104) 22.5%, hsla(0, 0%, 98%, .175) 29%, hsla(0, 0%, 98%, .259) 35.3%, hsla(0, 0%, 98%, .352) 41.2%, hsla(0, 0%, 98%, .45) 47.1%, hsla(0, 0%, 98%, .55) 52.9%, hsla(0, 0%, 98%, .648) 58.8%, hsla(0, 0%, 98%, .741) 64.7%, hsla(0, 0%, 98%, .825) 71%, hsla(0, 0%, 98%, .896) 77.5%, hsla(0, 0%, 98%, .951) 84.5%, hsla(0, 0%, 98%, .987) 91.9%, #fff);
  --broRadius: 9px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);

}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

body.dark {
  --color: #fff !important;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  -webkit-user-drag: none;
}

.Cannotbeobtained {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html,
#app {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;

}

a {
  list-style: none;
  text-decoration: none;
  color: var(--themeColor);
}

.dark {
  transition: .3s;
}

svg {
  display: initial;
}


li {
  list-style: none;
}

.decoration {
  font-family: 'dindin';
  color: #fff;
  text-shadow: 1px 3px 3px #000;
  transition: .6s;
  background: linear-gradient(#fff, #fff) no-repeat left 100%/0 2px;
}

.decoration:hover {
  color: #5161ce;
  fill: #5161ce !important;
  text-shadow: 1px -1px 3px #fff;
  background: linear-gradient(#fff, #fff) no-repeat left 100% / 100% 2px;
}

.lzy-center {
  width: 100%;
  text-align: center;
}

.fa-comment {
  width: 50px;
  height: 50px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.md.hydrated {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* 修改谷歌浏览器存储密码 自动给input添加样式 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  /* //这个地方的颜色是字体颜色，可以根据实际情况修改 */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  /* //设置input输入框的背景颜色为透明色 */
  background-color: transparent;
  /* //设置input输入框的背景颜色为透明色 */
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}

input {
  background-color: transparent;
  /* //设置input输入框的背景颜色为透明色 */
}

/* input:-webkit-autofill::selection {
  -webkit-text-fill-color: #fff !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(245, 245, 245);
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  background-color: var(--themeColor) !important;
  border-radius: 20px;
  border: 1px solid rgb(245, 245, 245);
  transition: 1s all;
} */

::-webkit-scrollbar {
  /*滚动条整体样式*/
  height: 15px !important;
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 8px;
  border-style: dashed;
  background-color: var(--themeColor);
  border-color: transparent;
  border-width: 3px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--borderColor);
  border-width: 2px;
  background-clip: padding-box;
  cursor: pointer;
}


::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 0;
  background: #fff;
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

.compensate-for-scrollbar {
  padding: 0 !important;
}

#app {
  position: relative;

  img,
  a {
    cursor: var(--linkCup);
  }

  address,
  article,
  aside,
  blockquote,
  details,
  dialog,
  dd,
  div,
  dl,
  dt,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  header,
  hgroup,
  hr,
  li,
  main,
  nav,
  ol,
  section,
  table,
  ul {
    cursor: var(--normalCup);
  }

  /* 文本相关元素使用text光标，悬停时使用自定义光标 */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  dt,
  dd,
  span,
  em,
  strong,
  small,
  code,
  pre,
  th,
  td,
  blockquote,
  label {
    cursor: auto;
    /* 默认使用文本选择光标 */
  }
}


.maskBg {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 345px;
  top: 18px;
  border-radius: 50%;
  overflow: hidden;
  background: #00000030;
  animation: slide-out-fwd-bl_lzy 2s 1;
}

html body.compensate-for-scrollbar {
  overflow: auto !important;
}

html,
body {
  scroll-behavior: smooth;

  font-family: 'Red Hat Display';
  font-variant-numeric: tabular-nums;
  /* 使用等宽特性 */
  font-variation-settings: 'wght' 430;
}

body.loading {
  overflow: hidden !important;
}

html.dark {
  background-color: var(--darkBgcolor)
}

#nprogress .bar {
  background: rgb(255, 0, 119) !important;
}

.themeCard {
  background-color: var(--themeColor);
  border-radius: 20px;
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;

  &.stickyTop {
    position: sticky;
    top: 75px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
    font-size: 1.6rem;
  }

  .cardinter {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    border: 3px solid #000;
    position: relative;
    margin-bottom: 5px;

    &.stickers {

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #000;
        background-color: #7588ff;
      }

      &:before {
        left: 10px;
      }

      &:after {
        right: 10px;
      }
    }
  }
}

.mr-1 {
  margin-right: 10px;
}

.tags {
  height: 20px;

  .taglzy {
    background-color: var(--themeColor);
    color: #fff;
    border: 1px solid #000;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
  }
}

.navbar-logo {
  height: 60px;

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    line-height: 10px;
  }

  img {
    filter: drop-shadow(1px 2px 1px #000);
  }

  span {
    font-family: 'Red Hat Display';
    font-size: 30px;
    line-height: 35px;
    display: block;
    color: #fff;
    text-shadow: 1px 2px 1px #000, 0 0 1px #000000
  }
}


@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 10;
  }

  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2;
  }

  85% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1;
  }

  95%,
  100% {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 30% 0;
    stroke-width: 50;
  }
}
