@tailwind base;
@tailwind components;
@tailwind utilities;



.Cannotbeobtained {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html,
#app {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

a,
li,
ui {
    list-style: none;
    text-decoration: none;
}

.dark {
    transition: .3s;
}
