/* @tailwind base;
@tailwind components;
@tailwind utilities; */



.Cannotbeobtained {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html,
#app {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--themeColor);
}

.dark {
    transition: .3s;
}

svg {
    display: initial;
}
