/* @font-face {
  font-family: 'almama';
  src: url('./almama2.0.ttf');
} */



@font-face {
  font-family: 'almama';
  src: url('./alibaba/almama_ShuHeiTi_Bold.ttf');
}

@font-face {
  font-family: 'tahoma';
  src: url('./tahomabd.ttf');
}

@font-face {
  font-family: 'firaCode';
  src: url('./FiraCode.ttf');
}

@font-face {
  font-family: 'black-Magic';
  src: url('./Black-Magic/Black-Magic-2.ttf');
}
