@font-face {
  font-family: 'douyu';
  src: url('./douyu2.0.ttf');
}

@font-face {
  font-family: 'almama';
  src: url('./alibaba/Alimama_ShuHeiTi_Bold.ttf');
}

@font-face {
  font-family: 'firaCode';
  src: url('./FiraCode.ttf');
}
@font-face {
  font-family: 'black-Magic';
  src: url('./Black-Magic/Black-Magic-2.ttf');
}
